<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CRUD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HeroListServlet</display-name>
    <servlet-name>HeroListServlet</servlet-name>
    <servlet-class>bean.HeroListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeroListServlet</servlet-name>
    <url-pattern>/listHero</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeroAddServlet</display-name>
    <servlet-name>HeroAddServlet</servlet-name>
    <servlet-class>bean.HeroAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeroAddServlet</servlet-name>
    <url-pattern>/addHero</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeroDeleteServlet</display-name>
    <servlet-name>HeroDeleteServlet</servlet-name>
    <servlet-class>bean.HeroDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeroDeleteServlet</servlet-name>
    <url-pattern>/deleteHero</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeroEditServlet</display-name>
    <servlet-name>HeroEditServlet</servlet-name>
    <servlet-class>bean.HeroEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeroEditServlet</servlet-name>
    <url-pattern>/editHero</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeroUpdateServlet</display-name>
    <servlet-name>HeroUpdateServlet</servlet-name>
    <servlet-class>bean.HeroUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeroUpdateServlet</servlet-name>
    <url-pattern>/updateHero</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitServlet</display-name>
    <servlet-name>SubmitServlet</servlet-name>
    <servlet-class>bean.SubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitServlet</servlet-name>
    <url-pattern>/submitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOneServlet</display-name>
    <servlet-name>GetOneServlet</servlet-name>
    <servlet-class>bean.GetOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOneServlet</servlet-name>
    <url-pattern>/getOne</url-pattern>
  </servlet-mapping>
</web-app>